<!DOCTYPE html>
<html>
    <head>
	<title>Enter the Details</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>
	<div class="jumbotron">
        <h1 class="text-center text-Green"  >Week Average of Pollutants </h1>
    </div>
    <br>
    <br>
	<div class="container" >
		<div class="col-xs-6 col-xs-offset-3">
		<form action="#" method="post">
	<p>Heading:</p>
	<p><input type="text" name="formID" /></p>

	<p>Form name:</p>
	<select class="form-control" name="formID" >
			<option value="" selected="">  Select the Item </option>
			
		    
			<option value="Item1">Item1</option>
			<option value="Item2"> Item2 </option>
			<option value="Item3"> Item3 </option>





	<p><input type="submit" value="submit"/></p>
			</form>
  </body>
</html>
